body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #0C124D;
}

.card {
    border-radius: 8px;
    overflow: hidden;
}

blockquote {
    border-left: 5px solid #0F69AA;
}

footer {
    padding-top: 2rem;
}